.contact{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../../../images/contact.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	h2 {
		color:darkblue;
		font-size: clamp(3rem, 15vw, 5rem);
	}
}